body {
    background-color: #181818;
    color: #e0e0e0;
    font-family: 'Segoe UI', 'Arial', sans-serif;
}

input, label {
    color: #e0e0e0;
}

input {
    background-color: #232323;
    border: 1px solid #555;
    padding: 6px 10px;
    border-radius: 3px;
    margin: 2px 0 10px 0;
    width: 70px;
}

input:disabled {
    background-color: #292929;
    color: #888;
}

input.bad {
    border-color: #ff0000;
}

input[type="number"]:disabled {
    appearance: textfield;      /* Standard */
    -moz-appearance: textfield; /* Firefox */
}
  
input[type="number"]:disabled::-webkit-inner-spin-button,
input[type="number"]:disabled::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  


hr {
    border-color: #444;
}

select {
    background-color: #232323;
    color: #e0e0e0;
    border: 1px solid #555;
    border-radius: 3px;
    padding: 6px 10px;
    margin: 2px 0 10px 0;
    font-family: 'Segoe UI', 'Arial', sans-serif;
}

select:focus {
    outline: none;
    border-color: #888;
    box-shadow: 0 0 2px #888;
}

select:disabled {
    background-color: #292929;
    color: #888;
    border-color: #444;
}
